{% extends "base.html" %}
{% block content %}
<!-- Template Cache-->
{% load blog_extras cache %}
<!-- Template Cache-->
<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
    </div>
{% endrow %}
{% row %}
    <div class="col">
        {{ post.content|safe }}
    </div>
{% endrow %}

<!-- Inclusion Tag -->
{% row %}
    {% col %}
        
        <!-- Template Cache-->
          {% cache 3600 recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}

<!-- Comment from -->
{% include "blog/post-comments.html" %}
{% endblock %}